{% extends "admin/base.html" %}

{% block nav-global %}
    {{ block.super }}
{% endblock %}

{% block userlinks %}
    {% if user.is_active and user.is_staff %}
        <a href="{% url 'upload_participants' %}" class="import-link">Teilnehmerliste laden</a> /
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <style>
        .import-link {
            margin-right: 0.4rem;
        }
        /* Align header content to the left for admin */
        #header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        #user-tools {
            float: none;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            justify-content: flex-start;
            width: 100%;
            text-align: left;
        }
        #user-tools a {
            margin: 0;
        }
        #branding {
            width: 100%;
            text-align: left;
            margin-bottom: 0.25rem;
        }
        #nav-global {
            text-align: left;
            width: 100%;
        }
        /* Hide theme toggle (force dark) */
        .theme-toggle {
            display: none !important;
        }
    </style>
    <script>
        (function() {
            try {
                const root = document.documentElement;
                root.dataset.theme = "dark";
                localStorage.setItem("django.admin.colorScheme", "dark");
            } catch (e) {
                // ignore
            }
        })();
    </script>
{% endblock %}
