{% extends "admin/base.html" %}

{% block nav-global %}
    {{ block.super }}
{% endblock %}

{% block userlinks %}
    {% if user.is_active and user.is_staff %}
        <a href="{% url 'upload_participants' %}" class="import-link">Teilnehmerliste laden</a> /
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <style>
        .import-link {
            margin-right: 0.4rem;
        }
        /* Center the header actions (user tools + extra links) */
        #header {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #user-tools {
            float: none;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            justify-content: center;
            width: 100%;
            text-align: center;
        }
        #user-tools a {
            margin: 0;
        }
        #branding {
            width: 100%;
            text-align: center;
            margin-bottom: 0.25rem;
        }
        #nav-global {
            text-align: center;
            width: 100%;
        }
    </style>
{% endblock %}
