<!DOCTYPE html>
<html lang="de">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BoulderCup Anmeldung</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-card">
        <h1>Anmeldung</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-field">
                <label for="{{ form.username.id_for_label }}">Anmeldename</label>
                {{ form.username }}
            </div>

            <div class="form-field">
                <label for="{{ form.password.id_for_label }}">Passwort</label>
                {{ form.password }}
            </div>

            <button type="submit">Anmelden</button>
        </form>
        {% if message %}
            <p class="message">{{ message }}</p>
        {% endif %}
    </div>
</body>
</html>
