name: Deploy to Production

on:
  push:
    branches:
      - deploy

jobs:
  deploy:
    name: Deploy to VM
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to production server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: labstorm.net
          username: bouldercup-deploy
          port: 2222
          key: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
          script: |
            cd /opt/bouldercup
            ./deploy.sh
